@media all and (max-width: 1770px) {
  #wrap #header .container .gap {
    padding: 0 3.941146%;
  }
  #wrap #main .container .gap {
    padding: 100px 3.941146% 0 3.941146%;
  }
  #wrap #footer .container .gap .wrap {
    padding: 100px 3.941146% 0 3.941146%;
  }
}
@media all and (max-width: 1170px) {
  #wrap #goTopBox {
    bottom: 20px;
    right: 20px;
  }
}
@media all and (max-width: 980px) {
  #wrap #goTopBox {
    width: 28px;
    height: 28px;
  }
  #wrap #goTopBox .top-btn i {
    font-size: 28px;
  }
}
@media all and (max-width: 900px) {
  #wrap #header {
    height: 160px;
  }
  #wrap #header .container .gap .wrap .menu-btn-box {
    top: 105px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap {
    top: 80px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav {
    height: 80px;
  }
  #wrap #header .container .gap .wrap .logo-box {
    margin: 0 auto auto auto;
  }
  #wrap #header .container .gap .wrap #aside {
    top: 80px;
  }
  #wrap #header .container .gap .wrap #aside .user-box {
    display: block;
  }
  #wrap #header .container .gap .wrap #aside .user-menu-list {
    display: none;
  }
  #wrap #footer .container .gap .wrap {
    padding: 0 3.941146%;
  }
  #wrap #footer .container .gap .wrap .top {
    display: block;
    height: 305px;
    margin: 0;
  }
}
@media all and (max-width: 840px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .main-menu .main-btn {
    padding: 0 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .main-menu .sub {
    left: 10px;
  }
}
@media all and (max-width: 600px) {
  #wrap #modal {
    padding: 0 10%;
  }
  #wrap #modal .container {
    width: 100%;
  }
  #wrap #modal .container .button-box .ok-btn {
    font-size: 12px;
  }
}
@media all and (max-width: 540px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 {
    left: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a.sub-sub-btn {
    width: 140px;
  }
  #wrap #main .container .gap {
    padding: 18.50784% 3.941146% 0 3.941146%;
  }
  #wrap #main .container .gap .wrap .title-wrap span {
    font-size: 2.5vw;
  }
  #wrap #main .container .gap .wrap .title-wrap span i {
    height: 12px;
    top: 9px;
  }
  #wrap #main .container .gap .wrap .title-wrap strong {
    font-size: 2.5vw;
  }
  #wrap #main .container .gap .wrap .title-wrap h2 {
    font-size: 5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box {
    width: auto;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box h3 {
    font-size: 3.5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap {
    padding: 10%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li {
    padding: 15px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box {
    width: auto;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=text]::-moz-placeholder, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=password]::-moz-placeholder {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=text]:-ms-input-placeholder, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=password]:-ms-input-placeholder {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=text]::placeholder, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=password]::placeholder {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li.button-box .submit-btn {
    font-size: 2.7vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li.find-id-pw a {
    font-size: 2.5vw;
  }
  #wrap #footer .container .gap .wrap .top .center .text-box p {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .top .center .text-box p a {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .top .right .permit-list {
    justify-content: flex-end;
  }
  #wrap #footer .container .gap .wrap .top .right .permit-list a {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .bottom p {
    font-size: 2vw;
  }
  #wrap #modal .container {
    height: auto;
  }
  #wrap #modal .container ul li h2 {
    font-size: 14px;
  }
  #wrap #modal .container ul li .modal-message {
    font-size: 12px;
  }
  #wrap #modal .container .button-box {
    height: 75px;
  }
}
@media all and (max-width: 480px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:focus {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:focus {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 {
    left: 70px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a.sub-sub-btn {
    width: 120px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:focus {
    padding: 10px 10px 10px 15px;
  }
}
@media all and (max-width: 472px) {
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=text], #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #login #loginForm li .input-box input[type=password] {
    width: 80%;
  }
}
@media all and (max-width: 400px) {
  #wrap #modal .container {
    height: auto;
  }
  #wrap #modal .container ul {
    height: auto;
    padding: 20px 20px 0 20px;
  }
  #wrap #modal .container ul li:nth-child(1) {
    height: 40px;
  }
  #wrap #modal .container ul li:nth-child(2) {
    height: 100px;
  }
  #wrap #modal .container .button-box {
    height: 70px;
  }
  #wrap #modal .container .button-box .ok-btn {
    height: 40px;
    line-height: 40px;
  }
}