@media all and (max-width: 1770px) {
  #wrap #header .container .gap {
    padding: 0 3.941146%;
  }
  #wrap #main .container .gap {
    padding: 100px 3.941146% 0 3.941146%;
  }
  #wrap #footer .container .gap .wrap {
    padding: 100px 3.941146% 0 3.941146%;
  }
}
@media all and (max-width: 1170px) {
  #wrap #goTopBox {
    bottom: 20px;
    right: 20px;
  }
}
@media all and (max-width: 980px) {
  #wrap #goTopBox {
    width: 28px;
    height: 28px;
  }
  #wrap #goTopBox .top-btn i {
    font-size: 28px;
  }
}
@media all and (max-width: 900px) {
  #wrap #header {
    height: 160px;
  }
  #wrap #header .container .gap .wrap .menu-btn-box {
    top: 105px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap {
    top: 80px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav {
    height: 80px;
  }
  #wrap #header .container .gap .wrap .logo-box {
    margin: 0 auto auto auto;
  }
  #wrap #header .container .gap .wrap #aside {
    top: 80px;
  }
  #wrap #header .container .gap .wrap #aside .user-box {
    display: block;
  }
  #wrap #header .container .gap .wrap #aside .user-menu-list {
    display: none;
  }
  #wrap #footer .container .gap .wrap {
    padding: 0 3.941146%;
  }
  #wrap #footer .container .gap .wrap .top {
    display: block;
    height: 305px;
    margin: 0;
  }
}
@media all and (max-width: 868px) {
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap {
    width: auto;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box {
    width: auto;
  }
}
@media all and (max-width: 840px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .main-menu .main-btn {
    padding: 0 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .main-menu .sub {
    left: 10px;
  }
}
@media all and (max-width: 750px) {
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress1, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress2 {
    width: 33.5%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    width: 100px;
    font-size: 13px;
  }
}
@media all and (max-width: 700px) {
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label {
    padding: 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label i {
    margin-left: 8px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    right: 0;
  }
}
@media all and (max-width: 600px) {
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box {
    width: 40%;
  }
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap h3 {
    width: 60%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title {
    width: 23%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label span {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box {
    width: 77%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress1 {
    width: 33%;
    margin-right: 8px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress2 {
    width: 33%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input::-moz-placeholder {
    font-size: 2.3vw;
    letter-spacing: -1px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input:-ms-input-placeholder {
    font-size: 2.3vw;
    letter-spacing: -1px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input::placeholder {
    font-size: 2.3vw;
    letter-spacing: -1px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .submit-wrap .submit-btn {
    font-size: 12px;
  }
  #wrap #modal {
    padding: 0 10%;
  }
  #wrap #modal .container {
    width: 100%;
  }
  #wrap #modal .container .button-box .ok-btn {
    font-size: 12px;
  }
}
@media all and (max-width: 540px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 {
    left: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a {
    width: 100px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a.sub-sub-btn {
    width: 140px;
  }
  #wrap #main .container .gap {
    padding: 18.50784% 3.941146% 0 3.941146%;
  }
  #wrap #main .container .gap .wrap .title-wrap span {
    font-size: 2.3vw;
  }
  #wrap #main .container .gap .wrap .title-wrap span i {
    height: 12px;
    top: 9px;
  }
  #wrap #main .container .gap .wrap .title-wrap strong {
    font-size: 2.5vw;
  }
  #wrap #main .container .gap .wrap .title-wrap h2 {
    font-size: 5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap h3 {
    font-size: 3.5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap {
    padding: 10% 4%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub {
    height: 60px;
    padding: 20px 0 10px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub h4 {
    font-size: 3.5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub span {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title {
    width: 20%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box {
    width: 80%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input {
    font-size: 12px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    width: 90px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p::before, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.success::before, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.error::before {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label span {
    font-size: 2.5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box .countdown {
    margin: auto 10px auto auto;
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .receive-info {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-birthday p {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-birthday p::before {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .border-title {
    padding: 10% 0 4% 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .border-title h4 {
    font-size: 3.5vw;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box {
    padding: 0 10px 15px 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text {
    margin-top: 15px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text .tit {
    font-size: 12px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text .txt {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table {
    margin-top: 15px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr th {
    font-size: 13px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table tbody tr td {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table tbody tr td:first-child {
    font-size: 12px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box > .txt {
    font-size: 10px;
    margin-top: 15px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box span {
    font-size: 12px;
    padding: 0 0 0 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box {
    font-size: 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box label {
    width: 80px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box label input {
    margin: 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree label span {
    font-size: 12px;
  }
  #wrap #footer .container .gap .wrap .top .center .text-box p {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .top .center .text-box p a {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .top .right .permit-list {
    justify-content: flex-end;
  }
  #wrap #footer .container .gap .wrap .top .right .permit-list a {
    font-size: 2.4vw;
  }
  #wrap #footer .container .gap .wrap .bottom p {
    font-size: 2vw;
  }
  #wrap #modal .container {
    height: auto;
  }
  #wrap #modal .container ul li h2 {
    font-size: 14px;
  }
  #wrap #modal .container ul li .modal-message {
    font-size: 12px;
  }
  #wrap #modal .container .button-box {
    height: 75px;
  }
}
@media all and (max-width: 480px) {
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:focus {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:focus {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 {
    left: 70px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a {
    width: 70px;
    font-size: 10px;
    padding: 10px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a.sub-sub-btn {
    width: 120px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:hover {
    padding: 10px 10px 10px 15px;
  }
  #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:focus {
    padding: 10px 10px 10px 15px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title-4th {
    padding: 10px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title-4th label {
    position: relative;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title-4th label span {
    height: auto;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title-4th label span .enter {
    display: block;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title-4th label i {
    margin: 0;
    position: absolute;
    bottom: -3px;
    left: 26px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress1 {
    width: 33%;
    margin-right: 6px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress2 {
    width: 33%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    width: 80px;
  }
}
@media all and (max-width: 430px) {
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box {
    width: 38%;
  }
  #wrap #main .container .gap .wrap .content-wrap .cube-wrap h3 {
    width: 62%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input {
    padding: 0 0 0 10px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    width: 70px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li input {
    padding: 0;
  }
}
@media all and (max-width: 400px) {
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li {
    padding: 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title {
    height: 60px;
    padding: 17px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-4th {
    padding: 10px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-4th label span {
    height: 40px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th {
    padding: 10px 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th label span {
    height: 40px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th label i {
    margin: auto auto -25px -5px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input {
    height: 40px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress1 {
    width: 34%;
    margin: 0;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress2 {
    width: 34%;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress3 {
    margin-top: 5px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
    height: 40px;
    width: 65px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label {
    width: 80px;
    height: 40px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box {
    height: 40px;
    margin-top: 5px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box input {
    height: 38px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box .countdown {
    margin: auto 7px auto auto;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box {
    height: 40px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li input {
    height: 38px;
  }
  #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li span {
    height: 38px;
  }
  #wrap #modal .container {
    height: auto;
  }
  #wrap #modal .container ul {
    height: auto;
    padding: 20px 20px 0 20px;
  }
  #wrap #modal .container ul li:nth-child(1) {
    height: 40px;
  }
  #wrap #modal .container ul li:nth-child(2) {
    height: 100px;
  }
  #wrap #modal .container .button-box {
    height: 70px;
  }
  #wrap #modal .container .button-box .ok-btn {
    height: 40px;
    line-height: 40px;
  }
}