@charset "UTF-8";
@import url(./fonts.css);
@import url(./reset.css);
#wrap #footer .container .gap, #wrap #main .container, #wrap #header .container {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
}

#skip {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#skip li {
  width: 100%;
}
#skip li a {
  display: block;
  width: 100%;
  color: #fff;
  background: #000;
  font-size: 0;
  line-height: 0;
  outline: 0;
  text-align: center;
}
#skip li a:focus {
  font-size: 15px;
  line-height: 40px;
}

#wrap {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
#wrap #header {
  width: 100%;
  height: 80px;
  z-index: 3;
  position: relative;
  background: url(../images/header-bg.jpg) no-repeat center/cover fixed;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container {
  height: 100%;
}
#wrap #header .container .gap {
  width: 100%;
  height: 100%;
}
#wrap #header .container .gap .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
#wrap #header .container .gap .wrap .menu-btn-box {
  position: absolute;
  top: 25px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 6px;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn span {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn span i {
  position: absolute;
  width: 16px;
  height: 1px;
  background: #fff;
  left: 0;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn span i.line1 {
  top: 0;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn span i.line2 {
  top: 50%;
  margin-top: -1px;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn span i.line3 {
  bottom: 0;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn.on span i.line1 {
  transform: rotate(135deg);
  top: 50%;
  margin-top: -0.5px;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn.on span i.line2 {
  left: -100%;
  opacity: 0;
}
#wrap #header .container .gap .wrap .menu-btn-box .menu-btn.on span i.line3 {
  transform: rotate(-135deg);
  bottom: 50%;
  margin-bottom: -0.5px;
}
#wrap #header .container .gap .wrap .main-menu-wrap {
  height: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  display: none;
  transition: all 0.3s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav {
  width: auto;
  height: 100%;
  background: transparent;
  display: flex;
  padding: 30px 0;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list {
  display: flex;
  margin: 0 auto;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num {
  position: relative;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .main-btn {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  font-family: "Nanum Myeongjo";
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .main-btn:hover, #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .main-btn:focus, #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .main-btn.on {
  color: #070080;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even {
  position: absolute;
  top: 50px;
  left: 20px;
  background: #fff;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  display: none;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 38px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:hover {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .even-num .sub-even .sub-gap ul li a:focus {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num {
  position: relative;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .main-btn {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  font-family: "Nanum Myeongjo";
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .main-btn:hover, #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .main-btn:focus, #wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .main-btn.on {
  color: #070080;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd {
  position: absolute;
  top: 50px;
  left: 20px;
  background: #fff;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  display: none;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li {
  position: relative;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn {
  display: inline-block;
  width: 160px;
  height: 38px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:hover {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-btn:focus {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 {
  position: absolute;
  top: 0;
  left: 160px;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  display: none;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a {
  display: inline-block;
  width: 160px;
  height: 38px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:hover {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap #nav .main-menu-list .odd-num .sub-odd .sub-gap > ul > li .sub-depth2 .sub-gap ul li a:focus {
  background: #abbdff;
  color: #fff;
  padding: 10px 20px 10px 30px;
}
#wrap #header .container .gap .wrap .main-menu-wrap.on {
  display: block;
}
#wrap #header .container .gap .wrap .logo-box {
  width: 80px;
  height: 100%;
  margin: auto;
}
#wrap #header .container .gap .wrap .logo-box a {
  display: inline-block;
  width: 80px;
  height: 100%;
}
#wrap #header .container .gap .wrap .logo-box a img {
  width: 100%;
}
#wrap #header .container .gap .wrap #aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#wrap #header .container .gap .wrap #aside .user-box {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 5.2%;
  display: none;
}
#wrap #header .container .gap .wrap #aside .user-box .user-btn {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 17px 0 0 0;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap #aside .user-box .user-btn i {
  width: 100%;
  height: 100%;
  font-size: 23px;
}
#wrap #header .container .gap .wrap #aside .user-box .user-btn:hover, #wrap #header .container .gap .wrap #aside .user-box .user-btn:focus {
  color: #070080;
}
#wrap #header .container .gap .wrap #aside .user-menu-list {
  display: flex;
  padding: 25px 0 35px 0;
}
#wrap #header .container .gap .wrap #aside .user-menu-list li {
  width: auto;
  height: 20px;
  position: relative;
}
#wrap #header .container .gap .wrap #aside .user-menu-list li a {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: auto 10px;
  transition: all 0.2s ease-in-out;
}
#wrap #header .container .gap .wrap #aside .user-menu-list li a.globe-icon i {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
#wrap #header .container .gap .wrap #aside .user-menu-list li a:hover, #wrap #header .container .gap .wrap #aside .user-menu-list li a:focus {
  color: #070080;
}
#wrap #header .container .gap .wrap #aside .user-menu-list li .bar-icon {
  width: 1px;
  height: 10px;
  position: absolute;
  top: 9px;
  right: 0;
  background: #fff;
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on {
  display: inline-block;
  width: 60px;
  height: 152px;
  position: absolute;
  top: 80px;
  right: 5.2%;
  padding: 0;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on li {
  width: 100%;
  height: 38px;
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on li a {
  display: inline-block;
  width: 60px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  text-align: center;
  color: #555;
  background: #fff;
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on li a:hover {
  color: #fff;
  background: #89a8ff;
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on li a:focus {
  color: #fff;
  background: #89a8ff;
}
#wrap #header .container .gap .wrap #aside .user-menu-list.on li .bar-icon {
  display: none;
}
#wrap #main {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
}
#wrap #main .container {
  height: 100%;
}
#wrap #main .container .gap {
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
}
#wrap #main .container .gap .wrap .title-wrap {
  padding: 0 0 30px 0;
  letter-spacing: 1px;
  color: #555;
  font-family: "Noto Sans KR";
  border-bottom: 1px solid #eee;
}
#wrap #main .container .gap .wrap .title-wrap span {
  width: auto;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px 0 0;
  position: relative;
}
#wrap #main .container .gap .wrap .title-wrap span i {
  width: 1.5px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 10px;
  background: #999;
}
#wrap #main .container .gap .wrap .title-wrap strong {
  width: auto;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: top;
  display: inline-block;
}
#wrap #main .container .gap .wrap .title-wrap h2 {
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  font-family: "Nanum Myeongjo";
}
#wrap #main .container .gap .wrap .content-wrap {
  padding: 50px 0 100px 0;
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap {
  width: 800px;
  height: 150px;
  display: flex;
  margin: 0 auto;
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box {
  width: 45%;
  height: 100%;
  background: linear-gradient(to right, #fff 95%, transparent);
  position: relative;
  transform: translateX(140px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box {
  width: 100px;
  height: 100px;
  position: relative;
  position: absolute;
  top: 0;
  right: 40px;
  transform-style: preserve-3d;
  transform: perspective(200px) rotate3d(0, 0, 0, 0deg) scale3d(1, 1, 1);
  transition: all 3s ease-in-out;
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #eee;
  border-radius: 3px;
  opacity: 0.5;
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.front {
  transform: rotateY(0deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.back {
  transform: rotateY(180deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.left {
  transform: rotateY(-90deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.right {
  transform: rotateY(90deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.top {
  transform: rotateX(90deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box .cube img {
  width: 100%;
  height: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box .cube-box.cube-ani {
  -webkit-animation: cubeAni 4s forwards ease-out;
          animation: cubeAni 4s forwards ease-out;
}
@-webkit-keyframes cubeAni {
  0% {
    transform: perspective(200px) rotate3d(0, 0, 0, 0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: perspective(200px) rotate3d(0, 1, 0, -720deg) scale3d(0.5, 0.5, 0.5) translateX(20px);
    right: 0;
  }
}
@keyframes cubeAni {
  0% {
    transform: perspective(200px) rotate3d(0, 0, 0, 0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: perspective(200px) rotate3d(0, 1, 0, -720deg) scale3d(0.5, 0.5, 0.5) translateX(20px);
    right: 0;
  }
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap .move-box.cube-ani {
  -webkit-animation: cubeBgAni 5s forwards ease-out;
          animation: cubeBgAni 5s forwards ease-out;
}
@-webkit-keyframes cubeBgAni {
  0% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cubeBgAni {
  0% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(0);
  }
}
#wrap #main .container .gap .wrap .content-wrap .cube-wrap h3 {
  width: 55%;
  height: 100%;
  overflow: hidden;
  padding: 30px 0 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  font-family: "Nanum Myeongjo";
  color: #89a8ff;
  transition: all 0.2s ease-in-out;
}
#wrap #main .container .gap .wrap .content-wrap .content-box {
  width: 800px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap {
  width: 100%;
  padding: 50px 20px;
  border: 1px solid #eee;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member {
  width: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm {
  width: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 30px 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #070080;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub span {
  margin: 0 0 0 auto;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li.page-sub span i {
  color: #dc143c;
  margin-right: 10px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title {
  width: 20%;
  height: 65px;
  display: inline-block;
  padding: 19px 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label {
  width: 100%;
  display: inline-block;
  padding: 0 0 0 20px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label span {
  height: 25px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label span .enter {
  display: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title label i {
  color: #dc143c;
  margin-left: 10px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th {
  padding: 10px 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th label span {
  height: 45px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .sub-title.sub-title-5th label i {
  display: inline-block;
  height: 21px;
  margin: auto auto -20px -10px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box {
  width: 80%;
  height: auto;
  position: relative;
  padding: 10px 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input {
  width: 70%;
  height: 45px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 20px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input:focus {
  outline: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress1 {
  width: 33.7%;
  margin-right: 10px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress2 {
  width: 33.7%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box input#inputAddress3 {
  margin-top: 10px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button {
  width: 120px;
  height: 45px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  background: #89a8ff;
  border: 1px solid #89a8ff;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button:hover, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button:focus, #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box button.on {
  background: #fff;
  color: #89a8ff;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text {
  width: 100%;
  padding: 10px 0 0 0;
  display: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p::before {
  content: "•";
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.success {
  color: #abbdff;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.success::before {
  content: "✔";
  color: #abbdff;
  margin: 0 5px 0 0;
  font-size: 12px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.error {
  color: #dc143c;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-text p.error::before {
  content: "✕";
  color: #dc143c;
  margin: 0 5px 0 0;
  font-size: 12px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive {
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label {
  width: 100px;
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: auto 10px auto 0;
  padding: 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label input:checked {
  border: 5px solid #89a8ff;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box.receive label span {
  font-size: 14px;
  line-height: 45px;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num {
  position: relative;
  display: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num.on {
  display: block;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box {
  width: 70%;
  height: 45px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box.off {
  background: rgb(239, 239, 239);
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box input {
  height: 43px;
  border: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-box .countdown {
  width: 25px;
  height: 20px;
  margin: auto 20px auto auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #dc143c;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .code-confirm-btn {
  top: 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .code-num .receive-info {
  width: 70%;
  margin-top: 10px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box {
  width: 70%;
  height: 45px;
  border: 1px solid #eee;
  border-radius: 3px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul {
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li {
  width: 30%;
  height: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li:nth-child(2), #wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li:nth-child(4) {
  width: 5%;
  height: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li input {
  width: 100%;
  height: 43px;
  border: none;
  text-align: center;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .date-box ul li span {
  width: 100%;
  height: 43px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  color: #ddd;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-birthday {
  width: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-birthday p {
  padding: 10px 0 0 0;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -1px;
  color: #dc143c;
  display: none;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .form-wrap #member #memberForm > li .input-box .guide-birthday p::before {
  content: "✕";
  color: #dc143c;
  margin: 0 5px 0 0;
  font-size: 12px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap {
  width: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border {
  width: 100%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .border-title {
  width: 100%;
  height: 100px;
  padding: 50px 0 20px 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .border-title h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  color: #555;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box {
  width: 100%;
  height: 300px;
  padding: 0 20px 30px 20px;
  border: 1px solid #eee;
  overflow-y: scroll;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text {
  font-family: "Noto Sans KR";
  margin-top: 30px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text .tit {
  font-size: 14px;
  line-height: 30px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box .border-text .txt {
  font-size: 12px;
  line-height: 20px;
  color: #888;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table {
  width: 100%;
  border: 1px solid #ccc;
  font-family: "Noto Sans KR";
  margin-top: 30px;
  border-collapse: collapse;
  letter-spacing: -1px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead {
  width: 100%;
  height: 40px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr {
  width: 100%;
  border: 1px solid #ccc;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr th {
  border: 1px solid #ccc;
  font-size: 15px;
  background: #eee;
  text-align: center;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr th:nth-child(1) {
  width: 20%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr th:nth-child(2) {
  width: 55%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table thead tr th:nth-child(3) {
  width: 25%;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table tbody tr {
  border: 1px solid #ccc;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table tbody tr td {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 20px;
  color: #888;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box table tbody tr td:first-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #666;
  text-align: center;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .scroll-box > .txt {
  font-family: "Noto Sans KR";
  margin-top: 30px;
  font-size: 12px;
  line-height: 20px;
  color: #888;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #eee;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box span {
  font-size: 14px;
  line-height: 50px;
  padding: 0 0 0 20px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box {
  margin: 0 0 0 auto;
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box label {
  width: 100px;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: auto 10px auto 0;
  padding: 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .border .agree-box .btn-box label input:checked {
  border: 5px solid #89a8ff;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree {
  width: 100%;
  height: 50px;
  display: flex;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree label {
  margin: 0 10px 0 auto;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: auto 10px auto 0;
  padding: 0;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree label input:checked {
  border: 5px solid #89a8ff;
}
#wrap #main .container .gap .wrap .content-wrap .content-box .border-wrap #borderBox .all-agree label span {
  font-size: 14px;
  line-height: 50px;
}
#wrap #main .container .gap .wrap .content-wrap .submit-wrap {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 55px 0 0 0;
}
#wrap #main .container .gap .wrap .content-wrap .submit-wrap .submit-btn {
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  background: #89a8ff;
  border: 1px solid #89a8ff;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
#wrap #main .container .gap .wrap .content-wrap .submit-wrap .submit-btn:hover, #wrap #main .container .gap .wrap .content-wrap .submit-wrap .submit-btn:focus {
  background: #fff;
  color: #89a8ff;
}
#wrap #footer {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 345px;
  background: url(../images/footer_bg.jpg) no-repeat center/cover fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#wrap #footer .container {
  width: 100%;
  height: 100%;
  background: linear-gradient(#fff 1%, transparent);
}
#wrap #footer .container .gap {
  height: 100%;
}
#wrap #footer .container .gap .wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
}
#wrap #footer .container .gap .wrap .top {
  width: 100%;
  height: 105px;
  margin-bottom: 100px;
  display: flex;
}
#wrap #footer .container .gap .wrap .top .left {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
#wrap #footer .container .gap .wrap .top .left .logo-wrap {
  width: 100%;
  height: 100%;
}
#wrap #footer .container .gap .wrap .top .left .logo-wrap .logo-gap {
  width: 100%;
}
#wrap #footer .container .gap .wrap .top .left .logo-wrap .logo-gap img {
  width: 100%;
}
#wrap #footer .container .gap .wrap .top .center .text-box {
  width: auto;
  display: inline-block;
}
#wrap #footer .container .gap .wrap .top .center .text-box p {
  width: auto;
  height: auto;
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 20px;
  color: #fff;
}
#wrap #footer .container .gap .wrap .top .center .text-box p span {
  vertical-align: top;
  padding: 0 15px 0 0;
  position: relative;
}
#wrap #footer .container .gap .wrap .top .center .text-box p span i {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 4px;
  right: 6px;
  background: #fff;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(3) i {
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0 0 0 2px;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(3) i::before {
  font-size: 16px;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(4) i {
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0 0 0 1px;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(4) i::before {
  font-size: 15px;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(5) i {
  width: 20px;
  height: 20px;
  position: relative;
}
#wrap #footer .container .gap .wrap .top .center .text-box p:nth-child(5) i::before {
  font-size: 13px;
}
#wrap #footer .container .gap .wrap .top .center .text-box p a {
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 20px;
  vertical-align: top;
  color: #fff;
}
#wrap #footer .container .gap .wrap .top .right {
  width: 200px;
  height: 80px;
  margin: 0 0 auto auto;
}
#wrap #footer .container .gap .wrap .top .right .permit-list {
  display: flex;
  margin-bottom: 10px;
}
#wrap #footer .container .gap .wrap .top .right .permit-list a {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}
#wrap #footer .container .gap .wrap .top .right .permit-list a:hover {
  opacity: 0.3;
}
#wrap #footer .container .gap .wrap .top .right .sns-list {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 10px 0;
}
#wrap #footer .container .gap .wrap .top .right .sns-list .sns-item {
  margin: 0 5px;
}
#wrap #footer .container .gap .wrap .top .right .sns-list .sns-item a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px 0 5px 10px;
}
#wrap #footer .container .gap .wrap .top .right .sns-list .sns-item a img {
  width: 20px;
  height: auto;
  transition: all 0.2s ease-in-out;
}
#wrap #footer .container .gap .wrap .top .right .sns-list .sns-item a:hover img {
  opacity: 0.3;
}
#wrap #footer .container .gap .wrap .bottom {
  width: 100%;
  height: 40px;
  margin: auto auto 0 auto;
  cursor: default;
  text-align: center;
}
#wrap #footer .container .gap .wrap .bottom p {
  display: inline;
  width: auto;
  height: 40px;
  padding: 0 10px 0 0;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
  position: relative;
}
#wrap #footer .container .gap .wrap .bottom p i {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: 0;
  background: #fff;
}
#wrap #goTopBox {
  z-index: 4;
  position: fixed;
  bottom: 75px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: none;
}
#wrap #goTopBox .top-btn {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
#wrap #goTopBox .top-btn i {
  display: inline-block;
  margin: -5px auto auto auto;
  font-size: 35px;
  color: #89a8ff;
  transition: all 0.2s ease-in-out;
}
#wrap #goTopBox .top-btn:hover {
  background: transparent;
}
#wrap #goTopBox .top-btn:hover i {
  color: #fff;
}
#wrap #modal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
#wrap #modal.show {
  display: flex;
}
#wrap #modal .container {
  width: 500px;
  height: 300px;
  margin: auto;
  background: #fff;
}
#wrap #modal .container ul {
  width: 100%;
  height: 200px;
  padding: 25px;
}
#wrap #modal .container ul li {
  display: flex;
}
#wrap #modal .container ul li:nth-child(1) {
  height: 50px;
  border-bottom: 1px solid #eee;
}
#wrap #modal .container ul li:nth-child(2) {
  height: 125px;
}
#wrap #modal .container ul li h2 {
  margin: auto auto auto 0;
  font-size: 16px;
  font-weight: 600;
  color: #89a8ff;
}
#wrap #modal .container ul li .colse-btn {
  width: 30px;
  height: 30px;
  margin: auto 0 auto auto;
  border: 1px solid #eee;
}
#wrap #modal .container ul li .colse-btn span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
#wrap #modal .container ul li .colse-btn span .line {
  position: absolute;
  width: 20px;
  height: 1px;
  background: #555;
  right: 3.5px;
}
#wrap #modal .container ul li .colse-btn span .line:nth-child(1) {
  transform: rotate(135deg);
  top: 50%;
  margin-top: -0.5px;
}
#wrap #modal .container ul li .colse-btn span .line:nth-child(2) {
  transform: rotate(-135deg);
  bottom: 50%;
  margin-bottom: -0.5px;
}
#wrap #modal .container ul li .modal-message {
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
#wrap #modal .container .button-box {
  width: 100%;
  height: 100px;
  background: rgba(137, 168, 255, 0.1);
  display: flex;
}
#wrap #modal .container .button-box .ok-btn {
  width: 120px;
  height: 45px;
  margin: auto;
  background: #89a8ff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  border: 1px solid #89a8ff;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
#wrap #modal .container .button-box .ok-btn:hover, #wrap #modal .container .button-box .ok-btn:focus {
  background: #fff;
  color: #89a8ff;
}